.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6698FF;
    color: #fff;
    padding: 10px 20px;
  }
  
  .left h1 {
    margin: 0;
  }
  
  .right {
    display: inline-block;
    align-items: center;
    position: relative;
  }
  
  .right input[type="text"] {
    width:300px;
    height:22px;
    padding: 5px;
    border-radius: 18px;
    border: 1px solid #ccc;
  }
  
  .right button {
    background-color: white;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: -42px;
    left:30px;

  }
  
  .right button i {
    font-size: 18px;
  }
  